---
layout: page
# The layout for Profile page
---

{% include lang.html %}

<div id="page-profile">
  <h1 class="ps-lg-2">
    <i class="fa fa-profile fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>
  <ul class="post-content ps-0">
    {% for profile in site.profiles %}
      <h2>
        <a href="{{ profile.url }}">
          {{ profile.name }} - {{ profile.position }}
        </a>
      </h2>
      <p>{{ profile.content | markdownify }}</p>
    {% endfor %}
  </ul>
</div>
